/* Colors */
$orange: #F15A24; //link, btn
$white: #fff;
$black: #000;

/* Color assignments */
$menu-bg: $white;
$text: $black;
$menu-text: $text;

/* Sizes */
$navbar-h: 110px;
$navbar-h-sm: $navbar-h;
$navbar-h-md: $navbar-h;
$navbar-h-lg: $navbar-h;

$banner-h: 380px;

$logo-w: 200px;
$logo-h: 80px;



