.navbar {
  background: $menu-bg;
  min-height: $navbar-h;
  padding-top: 0; //override BS
  padding-bottom: 0; //override BS

  @include media-breakpoint-up(sm) {
    min-height: $navbar-h-sm;
  }

  @include media-breakpoint-up(md) {
    min-height: $navbar-h-md;
  }

  @include media-breakpoint-up(lg) {
    min-height: $navbar-h-lg;
  }
}

.container.navbar-container {
  display: flex;
  align-items: center;
}

.navbar-brand-container {
  height: $navbar-h;
  display: flex;
  align-items: center;
}

.navbar-brand {
  background: pink;
  width: $logo-w;
  height: $logo-h;
}

.navbar-collapse {

}

.navbar-nav {
  padding-bottom: 2rem;
  flex-grow: 1;
  @include media-breakpoint-up(md){
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 0;
  }

  li {
    @include media-breakpoint-up(md){
      font-size: 1rem;
      & + li {
        margin-left: 2rem;
      }
    }

    @include media-breakpoint-up(lg){
      font-size: 1.1rem;
      & + li {
        margin-left: 2.5rem;
      }
    }

    @media only screen and (min-width: 1350px){
      font-size: 1.2rem;
      & + li {
        margin-left: 3rem;
      }
    }

    a {
      display: inline-block; //BS override
      color: $menu-text;
      &:hover {
        text-decoration: underline;
      }
    }
    &.active {
      a {
        color: $link-color;
        &:after {
          color: $link-color;//lighten($link, 10%);
        }
      }
    }
    &.current-menu-item {
      // color: $link;

    }
  }
}

.navbar-toggler-container {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  align-items: center;
  height: $navbar-h;

}
.navbar-toggler {
  cursor: pointer;
  color: $menu-text;
  background: #eee;
  .hamburger {
    width: 50px;
    height: 50px;
    line {
      stroke: $text;
    }
  }
  // replaced code below with own svg hamburger

  // &[aria-expanded="true"] {
  //  @include rotate(-90);
  // }
  // &.collapsed {
  //  @include rotate(0);
  // }

  // @include transition(all 0.3s);
  outline: none;
  &:focus {
    outline: none;
  }
}

.banner {
  height: $banner-h;
  background: $green-l;
}

// .menu-search {
  //   display: none;

  //   background-image: url("../images/icon-search.png");
  //   background-repeat: no-repeat;
  //   background-position: bottom center;
  //   background-size: 100%;
  //   height: 30px;
  //   width: 18px;
  //   @include media-breakpoint-up(md){
  //     background-position: center center;
  //     height: 20px;
  //   }
  //   .search-form {
  //     flex-wrap: nowrap;
  //     display: none;

  //     @include translate(-265px, 30px)

  //     .search-submit {
  //       background: $blue;
  //       color: $white;
  //       font-family: "sofia-pro", sans-serif;

  //       &:hover {
  //         cursor: pointer;
  //         background: $orange;
  //       }
  //     }
  //   }

  //   &:hover {
  //     cursor: pointer;
  //   }
  // }
